@import url('https://fonts.googleapis.com/css?family=Bangers|Rock+Salt');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.float-right {
  float: right;
}

div.card.horizontal.col.s3 {
  height: 180px;
  padding: 0px;
  border: 5px;
}

.card-image {
  height: 60%;
}

p.true {
  color: green;
}

p.false {
  color: red;
}

.charge-roommate {
  width: 90%;
}

input#charge-amount {
  text-align: right;
}

.tabs-list {
  margin-top: 10px;
}

#selectSubmit {
  margin-top: 18px;
}

#nav-logo {
  margin-left: 10px;
  font-family: 'Rock Salt', cursive;
}

.profile-info {
  font-family: 'Bangers', cursive;
}

.profile-info-header {
  font-size: 10px;
  margin-bottom: -20px;
}

.profile-name {
  margin-bottom: -10px;
}

.profile-username {
  font-size: 10px;
}

.profile-email {
  font-size: 10px;
}

.main-row {
  background-color: #EEEEEE;
}

div.collapsible-body {
  padding: 5px;
  margin-left: 5px;
}

.payment {
  background-color: #bbdefb;
}

.expense {
  background-color: #eeeeee;
}
