@import url('https://fonts.googleapis.com/css?family=Bangers|Rock+Salt|Neuton');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  font-family: 'Neuton', serif;
}

.float-right {
  float: right;
}

div.card.horizontal.col.s3 {
  height: 180px;
  padding: 0px;
  border: 5px;
  border-radius: 15px;
}

.card-image {
  height: 60%;
}

.card.horizontal .card-image img.card-image {
  border-radius: 15px;
}

p.true {
  color: green;
}

p.false {
  color: red;
}

.charge-roommate {
  width: 90%;
}

input#charge-amount {
  text-align: right;
}

.tabs-list {
  margin-top: 10px;
}

#selectSubmit {
  margin-top: 18px;
}

#nav-logo {
  margin-left: 10px;
  font-family: 'Rock Salt', cursive;
}

.profile-info {
  font-family: 'Bangers', cursive;
}

.profile-info-header {
  font-size: 10px;
  margin-bottom: -20px;
}

.profile-name {
  margin-bottom: -10px;
}

.profile-username {
  font-size: 10px;
}

.profile-email {
  font-size: 10px;
}

.main-row {
  background-color: #EEEEEE;
}

div.collapsible-body {
  padding: 5px;
  margin-left: 5px;
}

.payment {
  background-color: #bbdefb;
}

.expense {
  background-color: #eeeeee;
}

div.container {
  margin: 50px 50px 50px 50px;
  width: 90%;
}

.fullwidth-photo {
  max-width:120%;
  max-height:100%;
}

.sitepageStuff {
  background-image: url(../public/images/newyork.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -60px;
  height: 500px;
  cursor: default;
}

.section-1 {
  margin-top: 60px;

}

.header-logo {
  font-family: 'Rock Salt', cursive;
}

.main-text {
  text-shadow: 2px 2px #FFF
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
.neuton {
  font-family: 'Neuton', serif;
}

.splash-icons {
  height: 50px;
}
